# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# Laravel
/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/framework/testing/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# IDE
.vscode/
.idea/

# Local project config
.config/

# OS
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache